@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2.8rem;
}

.card {
  max-width: 32rem;
  padding: 1.6rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2rem;
  text-align: center;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
}

.card__img-box {
  width: 100%;
  height: 28.8rem;
}

.card__img-box img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.card__text {
  margin: 2.4rem 0;
}

.card__heading {
  font-size: 2.2rem;
  font-weight: 700;
  color: #1f314f;
  margin-bottom: 1.6rem;
}

.card__paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  color: #7d889e;
  margin: 0 1.6rem;
}
